package templates

import "github.com/Polo123456789/entry-watch/internal/templates/common"

templ Navbar() {
	@common.Navbar() {
		<ul>
			<li>Nueva</li>
			<li>Mis visitas</li>
		</ul>
	}
}

templ HeaderTags() {
	<!--
		No user specific scripts or styles yet
	-->
}
