package templates

import "github.com/Polo123456789/entry-watch/internal/templates/common"

templ Navbar() {
	@common.Navbar() {
		<ul>
			<li>
				<a href="/neighbor/">Nueva</a>
			</li>
			<li>
				<a href="/neighbor/visits">
					Mis visitas
				</a>
			</li>
		</ul>
	}
}

templ HeaderTags() {
	<!--
		No user specific scripts or styles yet
	-->
}
