package templates

import "github.com/Polo123456789/entry-watch/internal/templates/common"

templ Dashboard() {
  @common.Layout("Superadmin", EmptyHeadTags(), common.Navbar()) {
    <section>
      <h1>Superadmin</h1>
    </section>
  }
}

templ EmptyHeadTags() {
  <!-- No additional head tags -->
}
